<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - bill.e Africa infographics</title>

    <!--Shortcut icon-->
    <link rel="shortcut icon" href="https://res.cloudinary.com/fzany-inc/image/upload/v1556199175/social_media_profile_picture_2_-_Copy_pzmahu.png" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#076891">
    <link rel="stylesheet" href="~/css/styles.min.css" />
    <link rel="stylesheet" href="~/css/regular.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
</head>
<body id="page_features">

    @RenderBody()
    <footer class="footer">
        <div class="content grid">
            <div class="col-12">
                <div class="rows middle between">
                    <span class="c-white"><a class="fw-4 c-d-black c-h-black" href="https://isec.ng">© @DateTime.Now.Year bill.e</a>, all rights reserved</span>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js"></script>

</body>
</html>
