
@{
    ViewData["Title"] = "Order";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main class="main p-l-16 p-r-16 p-b-16" style="max-width:1000px; margin: 0 auto;">
    <div class="rows between b-transparent content drop-0 br-4 m-t-16 p-16" style="border:solid 1px #076891;">
        <h2 style="color:#076891!important;" class="fw-6 c-white">Natural Remedy for Health Challenges</h2>
        <img src="https://res.cloudinary.com/fzany-inc/image/upload/v1559032784/e4_qc3wtg.png" style="height:49px;" />
    </div>
    <iframe style="width:100%;" src="https://docs.google.com/forms/d/e/1FAIpQLSeLu8hyFtb74ujcw64IrfQMXjmVpldOrUs8Y-vARlZPy2gyVw/viewform?embedded=true" height="1666" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

    <div style="text-align: center;">
        <img alt="" src="https://res.cloudinary.com/fzany-inc/image/upload/v1559149145/cod_kd2egj.png" style="height: 282px; width: 570px;" /><br />
        <span style="font-family: &quot;comic sans ms&quot;;"></span>
    </div>
    <div class="rows between b-transparent content drop-0 br-4 m-t-16 p-16" style="border:solid 1px #076891;">
        <span style="font-family: &quot;comic sans ms&quot;;"></span>
        <span style="font-family: &quot;comic sans ms&quot;;">
            <big>We Pride Ourselves In Confidentiality Which Is Why You Need To Supply the information above To Place Your Order Now. You will only pay when these products have been physically brought down to your door step face-to-face by our courier company.&nbsp;</big>
        </span>
        <br />


        <big>
            Take advantage of this Special Offer through our Pay on Delivery Service.
            <span style="font-family: &quot;comic sans ms&quot;;">Once you send order request, you have signified that you want the products to be delivered to you. You will receive an SMS to confirm your Order.</span><br style="font-family: &quot;Comic Sans MS&quot;;" /><br style="font-family: &quot;Comic Sans MS&quot;;" />
            <span style="font-family: &quot;comic sans ms&quot;;">NOTE: Pls Kindly respond to any SMS you receive, else We Will Not Deliver To You</span>.<br style="font-family: &quot;Comic Sans MS&quot;;" /><br style="font-family: &quot;Comic Sans MS&quot;;" /><span style="font-family: &quot;comic sans ms&quot;;"></span>
            <span style="font-family: &quot;comic sans ms&quot;;">We understand the importance of PRIVACY. We will package this product very well and no-one else but you will understand what this package is all about</span>
        </big>
    </div>


    <div class="rows between b-transparent content drop-0 br-4 m-t-16 p-16" style="border:solid 1px #076891;">
        <h2 style="color:#076891!important;" class="fw-6 c-white">Delivery 🚚 Available Nationwide (🇳🇬)</h2>
        <img src="https://res.cloudinary.com/fzany-inc/image/upload/v1559032784/e4_qc3wtg.png" style="height:49px;" />
    </div>
    <footer class="footer">
        <div class="content grid">
            <div class="col-12">
                <div class="rows middle between">
                    <span class="c-white"><a class="fw-4 c-d-black c-h-black" href="tel:2347068649866">© @DateTime.Now.Year John Drug Store</a>, all rights reserved</span>
                </div>
            </div>
        </div>
    </footer>
</main>
